* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.error-form{
    color: red;
    font-style: italic;
    margin-left: 5px;
    display: none;
}

.show-error{
    display: block !important;
}

.input-success{
    border : 2px solid rgb(74, 202, 74) !important;
}

.input-error {
    border:2px solid red !important;
}
form {
    display: flex;
    flex-direction: column;
}

header p {
    font-size: 18px;
    color: rgb(97, 97, 97);
}
h2 {
    font-size: 30px;
}
.label input {
    width: 100%;
    border-radius: 10px;
    border-color: transparent;
    background-color: pink;
    padding: 10px;
    color: gray;
}
.label {
    margin-top: 20px;
}
.label p {
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 5px;
}
#password:focus {
    outline: rgb(247, 41, 137) solid;
}
body {
    margin: 10px;
}
.box {
    margin: 5px;
    display: flex;
}
.box p {
    margin: 5px;
    text-transform: capitalize;
}
button {
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login {
    margin: auto;
    color: rgb(97, 97, 97);
}
.login a {
    text-decoration: none;
    color: rgb(247, 41, 137);
}

/* mobile queries */
@media screen and (min-width:600px){
    form {
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4789);
        padding: 5px;
        margin-top: 5px;
    }
    .label {
        margin-top: 10px;
    }
    .label p {
        font-weight: bold;
        text-transform: capitalize;
        font-size: 18px;
        margin-bottom: 0;
    }
    .label input {
        padding: 5px;
    }
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}